<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <title>Админ-панель</title>
    <style>
        /* Простые стили для улучшения визуализации */
        table {
            width: 100%;
            border-collapse: collapse;
        }

        table,
        th,
        td {
            border: 1px solid black;
        }

        th,
        td {
            padding: 10px;
            text-align: left;
        }

        form {
            margin: 0;
        }
    </style>
</head>

<body>
    <h1>Админ-панель</h1>
    <section>
        <h2>Добавить пользователя</h2>
        <form action="/admin/users/add" method="post">
            <label for="addName">Имя пользователя:</label>
            <input type="text" id="addName" name="name" required>
            <label for="addPassword">Пароль:</label>
            <input type="password" id="addPassword" name="password" required>
            <label for="isAdmin">Администратор:</label>
            <input type="checkbox" id="isAdmin" name="isAdmin" value="true">
            <button type="submit">Добавить</button>
        </form>
    </section>
    <section>
        <h2>Список пользователей</h2>
        <table>
            <thead>
                <tr>
                    <th>Имя пользователя</th>
                    <th>Действия</th>
                </tr>
            </thead>
            <tbody>
                <% users.forEach(function(user) { %>
                    <tr>
                        <td>
                            <%= user.name %>
                        </td>
                        <td>
                            <!-- Форма для редактирования -->
                            <form action="/admin/users/edit" method="post" style="display:inline;">
                                <input type="hidden" name="id" value="<%= user._id %>">
                                <input type="text" name="name" value="<%= user.name %>" required>
                                <input type="password" name="password" placeholder="Новый пароль">
                                <label for="isAdminEdit">Администратор:</label>
                                <input type="checkbox" id="isAdminEdit" name="isAdmin" value="true" <% if (user.isAdmin)
                                    { %> checked <% } %>>
                                    <button type="submit">Обновить</button>
                            </form>
                            <!-- Форма для удаления -->
                            <form action="/admin/users/delete/<%= user._id %>" method="post" style="display:inline;">
                                <button type="submit">Удалить</button>
                            </form>
                        </td>
                    </tr>
                    <% }); %>
            </tbody>
        </table>
    </section>

</body>

</html>